<a href="https://colab.research.google.com/github/CAVASOL/aiffel_quest/blob/main/ML_node/ML_with_Python_DataHandling2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    'menu': ['황금후라이드','불닭양념치킨','간장치킨','마늘치킨','에네르기파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    'price': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    'size': ['10','10','9','9','11','12','10','11','10'],
    'cal': [1000.0,14000.0,16000.0,18000.0,13000.0,15000.0,13000.0,12000.0,np.nan],
    'promo': [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    'promo_price': [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    'origin': ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
             })
df.to_csv('new_modudak.csv', index=False)
df

  Unnamed: 0       menu  price size      cal  promo  promo_price origin
0          0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1          1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2          2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3          3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4          4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5          5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6          6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7        new  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8         10  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#데이터 불러오기, 인덱스 값을 지정하려면 index_col
pd.read_csv('new_modudak.csv', index_col='Unnamed: 0')

                 menu  price  size      cal  promo  promo_price origin
Unnamed: 0
0              황금후라이드  12000    10   1000.0    0.2       9600.0    국내산
1              불닭양념치킨  13000    10  14000.0    0.2      10400.0    NaN
2                간장치킨  14000     9  16000.0    0.2      11200.0    NaN
3                마늘치킨  14000     9  18000.0    0.2      11200.0    NaN
4              에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질
5                 닭강정  15000    12  15000.0    0.2      12000.0    브라질
6            양념반후라이드반  13000    10  13000.0    0.2      10400.0    NaN
new         [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
10          [베스트]풀잎치킨   9900    10      NaN    NaN          NaN    NaN

In [ ]:
#데이터 삭제하기 전, 데이터프레임 복사하기
data = df.copy()
data

  Unnamed: 0       menu  price size      cal  promo  promo_price origin
0          0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1          1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2          2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3          3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4          4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5          5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6          6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7        new  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8         10  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#데이터 삭제하기, 컬럼(열) Unnamed: 0, drop(axis=1)
#axis=1:열방향(컬럼), axis=0:행방향(로)
data = data.drop('Unnamed: 0', axis=1)
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#데이터 삭제하기, (컬럼: Unnamed: 0) drop(columns=[])
data = df.copy()
data = data.drop(columns=['Unnamed: 0'])
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#데이터 복사하기(data -> df)
df = data.copy()
df

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#행 삭제하기, 파닭
data = data.drop(4, axis=0)
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#행 삭제하기, 양념반후라이드반, inplace=True
data.drop(6, axis=0, inplace=True)
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#행 삭제하기, 조건에 따라 삭제가 가능하도록, 가격 >= 14000
cond = data['price'] >= 14000
data[cond].index

Int64Index([2, 3, 5, 7], dtype='int64')

In [ ]:
#행 삭제하기, 해당 인덱스
data.drop(data[cond].index, axis=0, inplace=True)
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#데이터프레임 복사
data = df.copy()
data

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    NaN
2       간장치킨  14000    9  16000.0    0.2      11200.0    NaN
3       마늘치킨  14000    9  18000.0    0.2      11200.0    NaN
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    NaN
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    NaN

In [ ]:
#결측치(NaN)가 있는 행(low)을 모두 삭제하기
data.dropna()

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산

In [ ]:
#결측치(NaN)가 있는 열(columns)을 모두 삭제하기
data.dropna(axis=1)

        menu  price size
0     황금후라이드  12000   10
1     불닭양념치킨  13000   10
2       간장치킨  14000    9
3       마늘치킨  14000    9
4     에네르기파닭  14000   11
5        닭강정  15000   12
6   양념반후라이드반  13000   10
7  [인기]아이펠치킨  16000   11
8  [베스트]풀잎치킨   9900   10

In [ ]:
#컬럼 별 결측치 확인
df.isnull().sum()

menu           0
price          0
size           0
cal            1
promo          1
promo_price    1
origin         5
dtype: int64

In [ ]:
df['origin'].fillna('dk')

0    국내산
1     dk
2     dk
3     dk
4    브라질
5    브라질
6     dk
7    국내산
8     dk
Name: origin, dtype: object

In [ ]:
df['origin'].fillna('국내산')

0    국내산
1    국내산
2    국내산
3    국내산
4    브라질
5    브라질
6    국내산
7    국내산
8    국내산
Name: origin, dtype: object

In [ ]:
df['origin'] = df['origin'].fillna('국내산')
df

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10      NaN    NaN          NaN    국내산

In [ ]:
df['cal'].fillna(900)

0     1000.0
1    14000.0
2    16000.0
3    18000.0
4    13000.0
5    15000.0
6    13000.0
7    12000.0
8      900.0
Name: cal, dtype: float64

In [ ]:
df['cal'].fillna(df['cal'].min())

0     1000.0
1    14000.0
2    16000.0
3    18000.0
4    13000.0
5    15000.0
6    13000.0
7    12000.0
8     1000.0
Name: cal, dtype: float64

In [ ]:
df['cal'] = df['cal'].fillna(df['cal'].min())
df

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산

In [ ]:
df

        menu  price size      cal  promo  promo_price origin
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산

In [ ]:
#인덱스를 기준으로 정렬 sorting, accending=True
df.sort_index(ascending=False)

        menu  price size      cal  promo  promo_price origin
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산

In [ ]:
#메뉴를 기준으로 정렬
df.sort_values('price', ascending=False)

        menu  price size      cal  promo  promo_price origin
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산

In [ ]:
#가격과 메뉴를 기준으로 정렬
df = df.sort_values(['price', 'origin'], ascending=[False, True])
df

        menu  price size      cal  promo  promo_price origin
7  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
5        닭강정  15000   12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
1     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
0     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산

In [ ]:
#인덱스 새로 만들기 drop=True
df = df.reset_index(drop=True)
df

        menu  price size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000   11  12000.0    0.5       8000.0    국내산
1        닭강정  15000   12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000    9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000    9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000   11  13000.0    0.2      11200.0    브라질
5     불닭양념치킨  13000   10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000   10  13000.0    0.2      10400.0    국내산
7     황금후라이드  12000   10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900   10   1000.0    NaN          NaN    국내산

In [ ]:
#type 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   menu         9 non-null      object
 1   price        9 non-null      int64
 2   size         9 non-null      object
 3   cal          9 non-null      float64
 4   promo        8 non-null      float64
 5   promo_price  8 non-null      float64
 6   origin       9 non-null      object
dtypes: float64(3), int64(1), object(3)
memory usage: 632.0+ bytes

In [ ]:
#자료형 변환
df['size'] = df['size'].astype(int)
df['size']

0    11
1    12
2     9
3     9
4    11
5    10
6    10
7    10
8    10
Name: size, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   menu         9 non-null      object
 1   price        9 non-null      int64
 2   size         9 non-null      int64
 3   cal          9 non-null      float64
 4   promo        8 non-null      float64
 5   promo_price  8 non-null      float64
 6   origin       9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [ ]:
df['size'].mean()

10.222222222222221

In [ ]:
#데이터 확인하기
df

        menu  price  size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000     9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000     9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질
5     불닭양념치킨  13000    10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000    10  13000.0    0.2      10400.0    국내산
7     황금후라이드  12000    10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900    10   1000.0    NaN          NaN    국내산

In [ ]:
#데이터 프레임의 크기 확인하기 (행, 열)
df.shape

(9, 7)

In [ ]:
#데이터 샘플 확인하기
df.head()

        menu  price  size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000     9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000     9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질

In [ ]:
#데이터 컬럼 형태 즉, 타입 확인하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   menu         9 non-null      object
 1   price        9 non-null      int64
 2   size         9 non-null      int64
 3   cal          9 non-null      float64
 4   promo        8 non-null      float64
 5   promo_price  8 non-null      float64
 6   origin       9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [ ]:
#기초 통계
df.describe()

              price       size           cal     promo   promo_price
count      9.000000   9.000000      9.000000  8.000000      8.000000
mean   13433.333333  10.222222  11444.444444  0.237500  10500.000000
std     1764.936259   0.971825   6186.903731  0.106066   1242.118007
min     9900.000000   9.000000   1000.000000  0.200000   8000.000000
25%    13000.000000  10.000000  12000.000000  0.200000  10200.000000
50%    14000.000000  10.000000  13000.000000  0.200000  10800.000000
75%    14000.000000  11.000000  15000.000000  0.200000  11200.000000
max    16000.000000  12.000000  18000.000000  0.500000  12000.000000

In [ ]:
#기초 통계 (object)
df.describe(include='O')

             menu origin
count           9      9
unique          9      2
top     [인기]아이펠치킨    국내산
freq            1      7

In [ ]:
#상관관계
df.corr()

                price      size       cal     promo  promo_price
price        1.000000  0.374104  0.735688  0.688875    -0.138409
size         0.374104  1.000000 -0.039269  0.292770    -0.022222
cal          0.735688 -0.039269  1.000000 -0.059189     0.489696
promo        0.688875  0.292770 -0.059189  1.000000    -0.813250
promo_price -0.138409 -0.022222  0.489696 -0.813250     1.000000

In [ ]:
#항목 별로 종류 수
df.nunique()

menu           9
price          6
size           4
cal            7
promo          2
promo_price    5
origin         2
dtype: int64

In [ ]:
#항목 종류
df['size'].unique()

array([11, 12,  9, 10])

In [ ]:
#항목 별 개수
df['size'].value_counts()

10    4
11    2
9     2
12    1
Name: size, dtype: int64

In [ ]:
#데이터 확인
df

        menu  price  size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000     9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000     9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질
5     불닭양념치킨  13000    10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000    10  13000.0    0.2      10400.0    국내산
7     황금후라이드  12000    10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900    10   1000.0    NaN          NaN    국내산

In [ ]:
#카운트 컬럼, 기본값은 axis=0
df.count()

menu           9
price          9
size           9
cal            9
promo          8
promo_price    8
origin         9
dtype: int64

In [ ]:
#카운트 행
df.count(axis=1)

0    7
1    7
2    7
3    7
4    7
5    7
6    7
7    7
8    5
dtype: int64

In [ ]:
#데이터 수, len 또는 shape
df.shape[0]

9

In [ ]:
#최대값
df['price'].max()

16000

In [ ]:
#최소값
df['price'].min()

9900

In [ ]:
#평균
df['price'].mean()

13433.333333333334

In [ ]:
#중간값
df['price'].median()

14000.0

In [ ]:
#총합
df['price'].sum()

120900

In [ ]:
#표준편차
df['price'].std()

1764.936259472279

In [ ]:
#분산
df['price'].var()

3115000.0

In [ ]:
#백분위수
df['price'].describe()

count        9.000000
mean     13433.333333
std       1764.936259
min       9900.000000
25%      13000.000000
50%      14000.000000
75%      14000.000000
max      16000.000000
Name: price, dtype: float64

In [ ]:
#하위 25% 값
df['price'].quantile(.25)

13000.0

In [ ]:
#상위 25% 값
df['price'].quantile(.75)

14000.0

In [ ]:
#하위 25% 보다 작은 데이터
cond = df['price'].quantile(.25) > df['price']
df[cond]

        menu  price  size     cal  promo  promo_price origin
7     황금후라이드  12000    10  1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900    10  1000.0    NaN          NaN    국내산

In [ ]:
#하위 25% 보다 큰 데이터
cond = df['price'].quantile(.75) < df['price']
df[cond]

        menu  price  size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질

In [ ]:
#최빈값 구하기
df['origin'].mode()[0]

'국내산'

In [ ]:
#행과 열 나누기
df.T

,0,1,2,3,4,5,6,7,8
menu,[인기]아이펠치킨,닭강정,간장치킨,마늘치킨,에네르기파닭,불닭양념치킨,양념반후라이드반,황금후라이드,[베스트]풀잎치킨
price,16000,15000,14000,14000,14000,13000,13000,12000,9900
size,11,12,9,9,11,10,10,10,10
cal,12000.0,15000.0,16000.0,18000.0,13000.0,14000.0,13000.0,1000.0,1000.0
promo,0.5,0.2,0.2,0.2,0.2,0.2,0.2,0.2,NaN
promo_price,8000.0,12000.0,11200.0,11200.0,11200.0,10400.0,10400.0,9600.0,NaN
origin,국내산,브라질,국내산,국내산,브라질,국내산,국내산,국내산,국내산

In [ ]:
#원산지 기준으로 평균 가격 구하기
df.groupby('origin').mean()

               price       size           cal  promo   promo_price
origin
국내산     13128.571429   9.857143  10714.285714   0.25  10133.333333
브라질     14500.000000  11.500000  14000.000000   0.20  11600.000000

In [ ]:
#원산지와 할인율을 기준으로 평균 구하기
df.groupby(['origin', 'promo']).mean()

                price  size      cal  promo_price
origin promo
국내산    0.2    13200.0   9.6  12400.0      10560.0
       0.5    16000.0  11.0  12000.0       8000.0
브라질    0.2    14500.0  11.5  14000.0      11600.0

In [ ]:
#원산지와 할인율을 기준으로 가격의 평균을 시리즈의 형태로 나타내기
df.groupby(['origin', 'promo'])['price'].mean()
# type(df.groupby(['origin', 'promo'])['price'].mean())

origin  promo
국내산     0.2      13200.0
        0.5      16000.0
브라질     0.2      14500.0
Name: price, dtype: float64

In [ ]:
#원산지와 할인율을 기준으로 가격의 평균을 데이터프레임의 형태로 나타내기 (1)
pd.DataFrame(df.groupby(['origin', 'promo'])['price'].mean())

                price
origin promo
국내산    0.2    13200.0
       0.5    16000.0
브라질    0.2    14500.0

In [ ]:
#원산지와 할인율을 기준으로 가격의 평균을 데이터프레임의 형태로 나타내기 (2)
df.groupby(['origin', 'promo'])[['price']].mean()

                price
origin promo
국내산    0.2    13200.0
       0.5    16000.0
브라질    0.2    14500.0

In [ ]:
#원산지와 할인율의 기준 최대값
df.groupby(['origin', 'promo']).max()

                   menu  price  size      cal  promo_price
origin promo
국내산    0.2       황금후라이드  14000    10  18000.0      11200.0
       0.5    [인기]아이펠치킨  16000    11  12000.0       8000.0
브라질    0.2       에네르기파닭  15000    12  15000.0      12000.0

In [ ]:
#1개 인덱스 형태로 리셋하기
df.groupby(['origin', 'promo']).max().reset_index()

  origin  promo       menu  price  size      cal  promo_price
0    국내산    0.2     황금후라이드  14000    10  18000.0      11200.0
1    국내산    0.5  [인기]아이펠치킨  16000    11  12000.0       8000.0
2    브라질    0.2     에네르기파닭  15000    12  15000.0      12000.0

In [ ]:
#데이터 확인하기
df

        menu  price  size      cal  promo  promo_price origin
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질
2       간장치킨  14000     9  16000.0    0.2      11200.0    국내산
3       마늘치킨  14000     9  18000.0    0.2      11200.0    국내산
4     에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질
5     불닭양념치킨  13000    10  14000.0    0.2      10400.0    국내산
6   양념반후라이드반  13000    10  13000.0    0.2      10400.0    국내산
7     황금후라이드  12000    10   1000.0    0.2       9600.0    국내산
8  [베스트]풀잎치킨   9900    10   1000.0    NaN          NaN    국내산

In [ ]:
# apply 예시 - 칼로리가 1300 보다 큰 값과 작은 값
def cal(x):
    if x >= 1300:
        return "ye"
    else:
        return "nah"

df['cal'].apply(cal)

0     ye
1     ye
2     ye
3     ye
4     ye
5     ye
6     ye
7    nah
8    nah
Name: cal, dtype: object

In [ ]:
# apply를 활용해서 새로운 컬럼 생성하기
df['gain_weight'] = df['cal'].apply(cal)
df

        menu  price  size      cal  promo  promo_price origin gain_weight
0  [인기]아이펠치킨  16000    11  12000.0    0.5       8000.0    국내산          ye
1        닭강정  15000    12  15000.0    0.2      12000.0    브라질          ye
2       간장치킨  14000     9  16000.0    0.2      11200.0    국내산          ye
3       마늘치킨  14000     9  18000.0    0.2      11200.0    국내산          ye
4     에네르기파닭  14000    11  13000.0    0.2      11200.0    브라질          ye
5     불닭양념치킨  13000    10  14000.0    0.2      10400.0    국내산          ye
6   양념반후라이드반  13000    10  13000.0    0.2      10400.0    국내산          ye
7     황금후라이드  12000    10   1000.0    0.2       9600.0    국내산         nah
8  [베스트]풀잎치킨   9900    10   1000.0    NaN          NaN    국내산         nah

In [ ]:
# lambda, apply 활용
df['hesitat'] = df['cal'].apply(lambda x: 'ignore' if x >= 1300 else 'take it')
df

,menu,price,size,cal,promo,promo_price,origin,gain_weight,hesitat
0,[인기]아이펠치킨,16000,11,12000.0,0.5,8000.0,국내산,ye,ignore
1,닭강정,15000,12,15000.0,0.2,12000.0,브라질,ye,ignore
2,간장치킨,14000,9,16000.0,0.2,11200.0,국내산,ye,ignore
3,마늘치킨,14000,9,18000.0,0.2,11200.0,국내산,ye,ignore
4,에네르기파닭,14000,11,13000.0,0.2,11200.0,브라질,ye,ignore
5,불닭양념치킨,13000,10,14000.0,0.2,10400.0,국내산,ye,ignore
6,양념반후라이드반,13000,10,13000.0,0.2,10400.0,국내산,ye,ignore
7,황금후라이드,12000,10,1000.0,0.2,9600.0,국내산,nah,take it
8,[베스트]풀잎치킨,9900,10,1000.0,NaN,NaN,국내산,nah,take it

In [ ]:
df.to_csv('final_modudak.csv', index=False)

In [ ]:
pd.read_csv('final_modudak.csv')

,menu,price,size,cal,promo,promo_price,origin,gain_weight,hesitat
0,[인기]아이펠치킨,16000,11,12000.0,0.5,8000.0,국내산,ye,ignore
1,닭강정,15000,12,15000.0,0.2,12000.0,브라질,ye,ignore
2,간장치킨,14000,9,16000.0,0.2,11200.0,국내산,ye,ignore
3,마늘치킨,14000,9,18000.0,0.2,11200.0,국내산,ye,ignore
4,에네르기파닭,14000,11,13000.0,0.2,11200.0,브라질,ye,ignore
5,불닭양념치킨,13000,10,14000.0,0.2,10400.0,국내산,ye,ignore
6,양념반후라이드반,13000,10,13000.0,0.2,10400.0,국내산,ye,ignore
7,황금후라이드,12000,10,1000.0,0.2,9600.0,국내산,nah,take it
8,[베스트]풀잎치킨,9900,10,1000.0,NaN,NaN,국내산,nah,take it